


/* Fixed Headers */

th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

th[scope=row] {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
}



/* Fixed Headers */

th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

th[scope=row] {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 1;
}

